@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

body {
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

h1,
h2,
p,
li,
a,
button,
select,
option,
footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #edf0f1;
    text-decoration: none;
}

h1 {
    font-size: 80px;
    margin-bottom: 150px;
}

h2 {
    font-size: 50px;
    margin-bottom: 80px;
}

h1,
h2 {
    text-align: center;
}

h1,
h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    margin-bottom: 24px;
}

p {
    margin: 100px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.logo-image {
    width: 350px;
    height: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(113, 113, 243);
}

button {
    padding: 9px 25px;
    background-color: rgba(113, 113, 243);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 150px;
    height: 100px;
}

button:hover {
    background-color: rgba(113, 113, 243);
}

select {
    width: auto;
    height: 100px;
    margin: 10px;
    font-size: 40px;
    padding: 10px;
}

select option {
    text-align: center;
}

.chord-list,
.scale-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 300px;
    margin-left: 300px;
    margin-right: 300px;
}

.chord-list li,
.scale-list li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 80px;
    border: rgb(113, 113, 243) solid;
    background-color: rgb(113, 113, 243);
    border-radius: 20px;
}

.select-container {
    margin-top: 80px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.scale-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    margin-top: 48rem;
}