@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*General elements*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 5vh 5%;
}

h1,
h2,
p,
li,
a,
input,
label,
button,
select,
option,
footer {
  font-weight: 500;
  font-size: 1.5rem;
  color: #edf0f1;
  text-decoration: none;
}

h1 {
  font-size: 4vw;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

h2 {
  font-size: 2vw;
}

p {
  text-align: center;
  font-size: 1.5vw;
}

/*Navigation bar*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.logo-image {
  width: 20vw;
  height: auto;
  align-self: start;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.nav__links li {
  margin: 1rem;
  text-align: center;
  border-radius: 0.2rem;
}

.nav__links li a {
  background-color: #9a5ae3;
  border: none;
  border-radius: 0.2rem;
  padding: 0.4rem;
  height: 3vh;
  text-align: center;
}

select:hover,
button:hover,
.nav__links li a:hover {
  background-color: #7b48b6;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  margin-top: 40vh;
  font-size: 1.4vw;
}

/*Learn scales*/

.scale-select {
  text-align: center;
  background-color: #9a5ae3;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem;
  font-size: 3rem;
  margin-left: 20%;
  margin-right: 20%;
}

.scale-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 8rem;
}

.scale-list li {
  margin: 0.8vw;
  background-color: #5ab1e3;
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  font-size: 5vw;
}

.select-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/*Learn chords*/

.chords-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chord-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

#difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.practice-chords-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  margin-top: 5rem;
}

.practice-btn {
  width: 8vw;
  height: 7vw;
}

.changediff-btn {
  background-color: #5ab1e3;
  padding: 1rem;
  text-align: center;
  font-size: 2vw;
}

.changediff-btn:hover {
  background-color: #4586ac;
}

.chord-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}
.chord-list li {
  margin: 1rem;
}

@media (max-width: 700px) {
  html {
    font-size: 40%;
  }

  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 4vw;
  }

  p,
  footer {
    font-size: 2.5vw;
  }

  .logo-image {
    width: 40vw;
  }

  header {
    flex-direction: column;
  }

  .nav__links li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .select-container {
    flex-wrap: wrap;
  }

  .scale-select {
    font-size: 4vw;
  }

  .chord-presets button {
    width: 10rem;
  }

  .key-select {
    font-size: 2.5rem;
    width: fit-content;
    height: 6rem;
  }

  .interval {
    font-size: 2.5rem;
    width: 6rem;
    height: 6rem;
  }

  .chord-image {
    width: 20vw;
  }

  .remove-btn {
    height: 6vh;
  }

  .chord-customizations {
    flex-direction: column;
  }

  .practice-btn {
    font-size: 3vw;
    width: 15vw;
    height: 10vw;
  }

  .diff-btn {
    width: 25vw;
    font-size: 3vw;
  }

  .changediff-btn {
    margin-top: 5vh;
    font-size: 3vw;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  html {
    font-size: 60%;
  }

  .logo-image {
    width: 40vw;
  }

  header {
    flex-direction: column;
  }

  .nav__links li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .select-container {
    flex-wrap: wrap;
  }

  .scale-select {
    font-size: 4vw;
  }

  .chord-presets button {
    width: 10rem;
  }

  .key-select {
    font-size: 2.5rem;
    width: fit-content;
    height: 6rem;
  }

  .interval {
    font-size: 2.5rem;
    width: 6rem;
    height: 6rem;
  }

  .chord-image {
    width: 15vw;
  }

  .remove-btn {
    height: 6vh;
  }
}
