@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

body {
    padding: 30px 5%;
}


h1,
h2,
p,
li,
a,
button,
select,
option,
footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #edf0f1;
    text-decoration: none;
}

h1 {
    font-size: 7rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4rem;
}

p {
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.logo-image {
    width: 25rem;
    height: auto;
    align-self: start;
}

.nav__links {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    list-style: none;
}

.nav__links li {
    margin: 1rem;
    text-align: center;
    border-radius: 0.2rem;
}

.nav__links li a {
    background-color: #9a5ae3;
    border: none;
    border-radius: 0.2rem;
    padding: 0.3rem;
}

select:hover,
button:hover,
.nav__links li a:hover {
    background-color: #7b48b6;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    margin-top: 30%;
}

.scale-select {
    text-align: center;
    background-color: #9a5ae3;
    border: none;
    border-radius: 0.2rem;
    padding: 0.3rem;
    font-size: 3rem;
    margin-left: 20%;
    margin-right: 20%;
}

.scale-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8rem;
}

.scale-list li {
    margin: 1rem;
    background-color: #5ab1e3;
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    font-size: 5rem;
}

.select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.key-select {
    text-align: center;
    background-color: #9a5ae3;
    border: none;
    border-radius: 0.2rem;
    padding: 0.3rem;
    font-size: 2rem;
    margin: 0.3rem;
    height: 10rem;
}

button {
    background-color: #9a5ae3;
    border: none;
    border-radius: 0.2rem;
    padding: 0.3rem;
    font-size: 2.5rem;
    width: 10rem;
    height: 10rem;
    margin: 0.3rem;
}

.remove-btn {
    font-size: 1.8rem;
    width: auto;
}

.chord-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8rem;
}

.chord-list li {
    margin: 1rem;
    background-color: #5ab1e3;
    border: none;
    border-radius: 0.2rem;
    padding: 2rem;
    font-size: 8rem;
}

.chord-image {
    width: 10rem;
}

.chord-presets {
    display: flex;
    justify-content: start;
    align-items: center;
}

.chord-presets h2,
button {
    margin: 1rem 2rem;
}

.chord-presets button {
    background-color: #5ab1e3;
    width: 15rem;
}

.chord-presets button:hover{
    background-color: #4586ac;
}

@media (max-width: 700px) {

    h1 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    header {
        flex-direction: column;
    }

    .logo-image {
        width: 15rem;
    }

    .nav__links li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        text-align: center;
        border-radius: 0.2rem;
    }

    .nav__links li a {
        font-size: 0.70rem;
        width: 5rem;
        height: 2.2rem;
    }

    p,
    footer {
        font-size: 1rem;
    }

    .scale-select {
        font-size: 0.8rem;
    }

    .scale-list {
        margin-top: 5rem;
    }

    .scale-list li {
        margin: 0.3rem;
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .select-container {
        flex-wrap: wrap;
    }

    .key-select {
        font-size: 1.5rem;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5%;
    }

    button {
        padding: 0.3rem;
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;
    }

    .remove-btn {
        width: auto;
        font-size: 0.8rem;
    }

    .chord-list {
        margin-top: 2rem;
    }

    .chord-list li {
        margin: 0.4rem;
        border-radius: 0.2rem;
        padding: 1rem;
        font-size: 1.5rem;
    }
}

@media (min-width: 700px) and (max-width: 1200px) {

    h1 {
        font-size: 4rem;
        margin-bottom: 5%;
    }

    header {
        flex-direction: column;
    }

    .logo-image {
        width: 30rem;
    }

    .nav__links {
        margin-top: 1rem;
    }

    .nav__links li {
        margin: 1rem;
        text-align: center;
        border-radius: 0.2rem;
    }

    .nav__links li a {
        font-size: 1.5rem;
    }

    .scale-select {
        font-size: 1.8rem;
    }

    .scale-list {
        margin-top: 5rem;
    }

    .scale-list li {
        margin: 0.5rem;
        font-size: 4.8rem;
        padding: 0.5rem;
    }

    .select-container {
        flex-wrap: wrap;
    }

    .key-select {
        font-size: 2.5rem;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 3%;
    }

    button {
        padding: 0.2rem;
        font-size: 1.5rem;
        width: 4rem;
        height: 4rem;
    }

    .remove-btn {
        width: auto;
        font-size: 1rem;
    }

    .chord-list {
        margin-top: 1rem;
    }

    .chord-list li {
        margin: 0.4rem;
        border-radius: 0.2rem;
        padding: 1rem;
        font-size: 2rem;
    }

}